<footer class="container">
  <p class="float-end"><a href="#"><%= t ".back_to_top" %></a></p>
  <p><%= t ".footer_desc" %>
    <a href="#"><%= t ".privacy" %></a> · <a href="#"><%= t ".terms" %></a></p>
</footer>
